<!-- views/pages/testResponse.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>
  <main>
      <div class="jumbotron">
          <ul>
              <% imgs.forEach(function(img) { %>
                  <li><img src='data:image/png;base64,<%=img%>'</li>
              <% }); %>
          </ul>
      </div>
  </main>
</body>
</html>
